{% extends 'base.html.twig' %}

{% block body %}
<div class="half cf">
    <h2>Balance: {{ balance }}</h2>
    <div><h1>Voer je bericht in</h1></div>
        {{ form_start(form) }}
        {{ form_row(form.recipients) }}
        {{ form_row(form.sender) }}
        {{ form_row(form.message) }}
        {{ form_end(form) }}
        {{ dump(result) }}
</div>
{% endblock %}

{% block stylesheets %}
    <style>
    @import "compass/css3";

    @import url(http://fonts.googleapis.com/css?family=Merriweather);
    $red: #e74c3c;

    *,
    *:before,
    *:after {
    @include box-sizing(border-box);
    }

    html, body {
    background: #f1f1f1;
    font-family: 'Merriweather', sans-serif;
    padding: 1em;
    }


    h1 {
    text-align: center;
    color: #a8a8a8;
    @include text-shadow(1px 1px 0 rgba(white, 1));
    }

    form {
        max-width: 800px;
        text-align: center;
        margin: 20px auto;

    input, textarea {
        border: 0;
        outline: 0;
        padding: 1em;
    @include border-radius(8 px);
        display: block;
        width: 100%;
        margin-top: 1em;
        font-family: 'Merriweather', sans-serif;
    @include box-shadow(0 1 px 1 px rgba(black, 0.1));
        resize: none;

    &:focus {
    @include box-shadow(0 0 px 2 px rgba($ red, 1) !important);
    }
    }

    button#form_send[type="submit"] {
        color: white;
        border: none;
        background: #008CBA;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;

    &:hover {
    @include box-shadow(0 1 px 1 px 1 px rgba(#aaa, 0.6));
    }

    }

    .half {
        float: left;
        margin-bottom: 1em;
        width: 48%;

    @media (max-width: 480px) {
        .half {
            width: 100%;
            float: none;
            margin-bottom: 0;
        }
    }

    }
    }
    /* Clearfix */
    .cf:before,
    .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    }

    .cf:after {
    clear: both;
    }

    h2 {
        text-align: left;
        color: #a8a8a8;
    @include text-shadow(1px 1px 0 rgba(#eee, 1));
        border:0; outline:0;
        padding: 1em;
    @include border-radius(8px);
        display: block;
        background-color:#fff;
        width: 100%;
        margin-top: 1em;
        font-family: 'Merriweather', sans-serif;
    @include box-shadow(0 1px 1px rgba(black, 0.1));
        resize: none;
    }
    </style>
{% endblock %}
